.authentication-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin: 0px auto;
  padding-top: 100px;
  height: 86vh;
}
@media (max-width: 450px) {
  .authentication-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
}