.quoteBox{
    
    height: 90vh;
     display: flex; 
    justify-content: center;
    position: relative;
}
.quote{
  width: 60%;
    font-size: x-large;
    color: black;
    font-family: 'Brawler', serif;
    align-self: center;
    justify-content: center;
  }
.author{
  align-self:flex-end;
}

@media (max-width:450px){
  .quoteBox{
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .quote{
    font-size: small;
    height: auto;
    width: 100%;
    text-align: center;
    }
  .author{
    align-self: center;
    font-size: small;
  }
}