.navigation {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  position: absolute;
  z-index: 1;
}
.link-cont {
  display: flex;
  font-size: large;
}
.logo-link {
  padding: 20px;
  font-weight: 800;
  font-size: 35px;
  font-family: "Brawler", serif;
  font-family: "Lobster", cursive;
  font-family: "Rubik Microbe", cursive;
  transition: color 1s linear, text-shadow 1s linear;
}
.headder-link-sign{
   padding: 25px;
   cursor: pointer;
   transition: color 1s linear;
}
#light .headder-link-sign{
   color: black;
}
#dark .headder-link-sign{
   color: gold;
}
.headder-link {
  cursor: pointer;
  transition: color 1s linear;
}
#light .headder-link {
  color: black;
}
#dark .headder-link {
  color: gold;
}
.DL-cont {
  padding: 25px;
  width: 16rem;
  display: flex;
  justify-content: space-between;
}
.diary-link {
  transition: color 1s linear;
}
#light .diary-link {
  color: black;
}
#dark .diary-link {
  color: gold;
}
.robo-link {
  transition: color 1s linear;
  padding-left: 5px;
  animation: emojiAttraction 2s infinite;
}

@keyframes emojiAttraction {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.27);
  }
  100% {
    transform: scale(1);
  }
}

.theme-toggle {
  padding: 25px;
  font-size: larger;
  font-weight: 700;
  transition: color 1s linear;
  cursor: pointer;
}
#light .theme-toggle {
  color: black;
}
#dark .theme-toggle {
  color: gold;
}

@media (max-width: 450px) {
  .link-cont{
    display: flex;
    justify-content: space-between;
  }
  .navigation {
    font-size:x-small;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .logo-link {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 2px;
    width: fit-content;
    font-size: large;
  }
  .headder-link {
    padding-bottom: 1px;
    height: 20px;
    font-size: x-small;
  }
  .DL-cont {
    margin-right: 15px;
    padding-bottom: 1px;
    font-size:x-small;
    width:6rem;
  }
  .theme-toggle{
    size: 20;
  }
}
#dark .logo-link {
  color: black;
  text-shadow: -1px 1px 0 #41ba45, 1px 1px 0 #c63d2b, 1px -1px 0 #42afac,
    -1px -1px 0 #c6c23f;
}
#light .logo-link {
  color: white;
  text-shadow: -5px -5px 0 #000, 5px -5px 0 #000, -5px 5px 0 #000,
    5px 5px 0 #000;
}
