.entry-list{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (max-width:450px){
  .entry-list{
    align-items: flex-start;
  }
}